* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*font-family: 'Nunito Sans', sans-serif;*/
/*font-family: 'Open Sans', sans-serif;*/

:root {

}

header {
    display: flex;
}

.conteiner {
    width: 1088px;
}

.logo__sign {
    display: flex;
}
header ul {
    display: flex;
}